
<div class="edit-form">
  <h5>Sign in</h5>
  <div>
    Don't have an account? <%= link_to "Sign Up", signup_path %>
  </div>
  <%= bootstrap_form_with(url: session_path, local: true, class: "form") do |f| %>
    <%= f.text_field :email_or_username, autofocus: true, required: true %>
    <%= f.password_field :password, required: true %>
    <%= f.submit "Sign In" %>
  <% end %>
</div>
