<header>
  <nav class="navbar navbar-expand-lg navbar-light ">
  <%= link_to 'Kurcina jebo te bog', root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-hamburger"></i>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
    </ul>

    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item">
          <%= link_to current_user.name, current_user %>     
        </li>

        <li class="nav-item">
         <%= link_to "Account Settings", edit_user_path(current_user) %>
        </li>

         <li class="nav-item">
            <%= link_to "Sign out", session_path, method: :delete %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Sign Up", signup_path %>
        </li>

        <li class="nav-item">
          <%= link_to "Sign In", signin_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
</header>