<div class="edit-form">
  <h5>Edit account</h5>
  <%= bootstrap_form_with(model: @user, local: true, class: "form") do |f| %>
    <%= f.text_field :name, autofocus: true %>
    <%= f.text_field :username%>
    <%= f.email_field :email %>
    <%= f.password_field :password %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Edit account" %>
  <% end %>
</div>