<div class="users">
  <h5 class="users-title">Users total: <%= @users.size %></h5>
  <% @users.each do |user| %>
    <div class="user">
      <strong><%= link_to user.name, user %></strong>
      Član od: <%= user.created_at.strftime("%d.%m.%Y.") %>
    </div>
  <% end %>
</div>
