<div class="user-profile">
  <div><%= @user.name %></div>
  <div><%= mail_to(@user.email) %></div>

  <% if @badges.present? %>
    <div class="post-badge-container">
      <h5>Interests</h5>
      <% @user.badges.each do |badge| %>
        <div class="post-badge">
          <%= badge.body %>
        </div>
      <% end %>
    </div>
    <% end %>

  <% if @reviews.present? %>
    <h5>Commented posts</h5>
    <% @reviews.each do |review| %>
      <div class="commented-posts">
        <div class="commented-post">
          <%= link_to review.post.title, review.post %>
        </div>

        <div class="date">
          <%= time_ago_in_words(review.created_at) %> ago
        </div>
      </div>
    <% end %>
  <% end %>

  <% if @liked_posts.present? %>
    <div class="liked-posts">
      <h5>Liked posts</h5>
      <% @liked_posts.each do |post| %>
        <%= link_to post.title, post %>
      <% end %>
    </div>
  <% end %>

  <% if current_user?(@user) %>
    <div class="actions">
      <%= link_to "Edit account", edit_user_path(@user), class: "btn btn-primary" %>

      <% if current_user_admin? %>
        <%= link_to "Delete account", user_path(@user), method: :delete,
                    data: { confirm: "Are you sure you want to delete this account?" },
                    class: "btn btn-danger" %>
      <% end %>
    </div>
  <% end %>
</div>
