<div class="edit-form">
  <h4>Editing: <%= @post.title %></h4>

  <%= bootstrap_form_with(model: @post, local: true, class: "form") do |f| %>
    <%= f.text_field :title, autofocus: true %>
    <%= f.text_area :description, rows: 10 %>
        <div class="checkboxes">
          <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
    </div>
    <%= f.submit 'Update', class: "btn btn-primary" %>
  <% end %>
</div>