<div class="posts">
  <h3>Posts</h3>
  <% @posts.each do |post| %>
    <div class="post">
      <h5><%= link_to(post.title, post_path(post), class: "post-title") %></h5>
      <div class="post-description"><%= post.description %></div>

      <div class="comments">
        <%= link_to pluralize(post.reviews.size, "Comment"), post_reviews_path(post) %>
        <%= link_to "New Comment", new_post_review_path(post) %>
      </div>
    </div>
  <% end %> 

  <div class="new_post_button">
    <%= link_to 'New Post', new_post_path, class: 'btn btn-secondary' %>
  </div>
</div>


