<div class="container new_post">
  <h3>Create new post</h3>

  <%= bootstrap_form_with(model: @post, local: true, class: "form") do |f| %>
    <%= f.text_field :title, autofocus: true %>
    <%= f.text_area :description, rows: 5 %>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name, class: "dropdown") %>
    <%= f.submit %>
  <% end %>
</div>
