<div class="post-details">
  <div class="post-info">
    <div class="post-title">
      <h5><%= @post.title %></h5>
    </div>

    <div class="post-description">
      <%= @post.description %>
    </div>

    <% if @badges.present? %>
      <div class="post-badge-container">
        <h5 class="badges-title">Badges</h5>
        <% @post.badges.each do |badge| %>
          <div class="post-badge">
            <%= badge.body %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if current_user %>
    <div class="likes">
      <%= like_or_unlike_button(@post, @like) %>
      <div class="likes-count">
        <i class="far fa-thumbs-up"></i> <%= @likers.size %>
      </div>
    </div>
  <% end %>


  <div class="liked-by">
    <% if @likers.present? %>
      Liked by:
        <% @likers.each do |user| %>
          <%= link_to user.name, user %>
        <% end %>
    <% end %>
  </div>

  <% if @categories.present? %>
    <div class="post-categories">
      <h5>Categories</h5>
      <ul class="categories">
        <% @categories.each do |c| %>
          <li>
            <%= c.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="admin">
  <% if current_user_admin? %>
    <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-primary" %>
    <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }, class: "btn btn-danger" %>
  <% end %>
</div>
