.post-badge-container {
  display: flex;
  flex-direction: column;
  h5 {
    margin-bottom: 1rem;
  }
  .badges-title {
    margin-top: 2rem;
  }
  .post-badge {
    display: flex;
    justify-content: center;
    border: .5px rgb(199, 197, 197) solid;
    border-radius: 10px;
    padding: .5rem;
    margin-bottom: 1rem;
  }
}
