.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 150px);
  .new_post {
    background: #fff;
    padding: 2rem;
    border-radius: 5px;
  }
}

