body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(187,184,145,1) 0%, rgba(35,131,204,1) 100%, rgba(49,97,183,1) 100%, rgba(68,52,155,1) 100%, rgba(84,15,131,1) 100%,
            rgba(87,9,127,0.8393732492997199) 100%, rgba(81,23,136,1) 100%, rgba(58,77,170,1) 100%, rgba(0,212,255,1) 100%);
}

.container {
  h3 {
    margin-bottom: 2rem;
  }
}

.btn {
  margin: 0 1rem 2rem 0;
  padding: 0.5rem 3rem;
}

.form-group {
  label {
    font-weight: bold;
  }

  .form-check {
    label {
      font-weight: normal;
    }
  }
}

a {
  color: #007BC5;
  transition: .3s;
  &:hover {
    color: lighten($color: #007BC5, $amount: 15%);
    text-decoration: none;
  }
}
