.edit-form {
  width: 100%;
  margin-top: 3rem;
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  margin-bottom: 3rem;
  h4 {
    margin-bottom: 2rem;
  }
}

.admin {
  display: flex;
  margin-top: 2rem;
}