.notice{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background: #c1e0c1;
  color: #315c31;
  height: 50px;
  border-radius: 5px;
}

.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background: rgb(231, 148, 148);
  color: rgb(116, 9, 9);
  height: 50px;
  border-radius: 5px;
}