.form {
  margin-top: 3rem;
  .form-group {
    .form-control {
      border: .5px solid rgb(194, 185, 185);
      width: 100%;
    }
  }
}

.was-validated .form-control:invalid, .form-control.is-invalid {
  border-color: #D93F19 !important;
}

.was-validated {
  .form-control:invalid, .form-control.is-invalid {
    border-color: #D93F19 !important;
  }
} 