header {
  .navbar {
    background: #242325;
    .navbar-brand {
      transition: .3s;
      color: #BBB891;
      &:hover {
        color: darken($color: #BBB891, $amount: 15%);
      }
    }
    .nav-item {
      a {
        color: #C8C8C8;
        margin: 0 .5rem;
        transition: .3s;
        &:hover {
          text-decoration: none;
          color: #BBB891;
        }
      }
    }
  }
}

.navbar-toggler {
  border: none;
  .fa-hamburger {
    color: #efefef;
  }
}
