.posts {
  h3 {
    color: #fff;
    margin-top: 2rem;
  }
  .post {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
    padding: 2rem;
    border-radius: 5px;
    background: #efefef;
    transition: .5s;
    .post-title {
      color: #8a2b2d;
      margin-bottom: 2rem;
      transition: .2s;
      &:hover {
        text-decoration: none;
        color: lighten($color: #8a2b2d, $amount: 25%)
      }
    }
    &:hover {
      transform: translateY(-.2rem);  
    }
    .comments {
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
    }
    .new_post {
      background: none;
    }
  }
}

.post-details {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  background: #efefef;
  transition: .5s;
  .likes {
    display: flex;
    .likes-count {
      margin-left: 1rem;
      .fa-thumbs-up {
        font-size: 20px;
      }
    }
    .button_to {
      .unlike-button {
        border: none;
        background: #D93F19;
        color: #fff;
        border-radius: 1.75rem;
        transition: .3s;
        &:hover {
          background: darken($color: #D93F19, $amount: 15%)
        }
      }
      .like-button {
        border: none;
        background: blue;
        color: #fff;
        border-radius: 1.75rem;
        transition: .3s;
        &:hover {
          background: darken($color: blue, $amount: 15%)
        }
      }
    }
  }
  .post-info {
    margin-bottom: 1.5rem;
    .post-title {
      color: #8a2b2d;
      margin-bottom: 2rem;
      transition: .2s;
    }
    .post-description {
      margin-top: -1rem;
    }
  }
  
  .liked-by {
    display: flex;
    margin: 2rem 0 1rem 0;
    a {
      margin: 0 .5rem;
    }
  }

  .post-categories {
    display: flex;
    .categories {
      display: flex;
      li {
        margin-right: 2rem;
      }
    }
  }
}

.liked-posts {
  margin-top: -.7rem;
} 

.date {
  margin-bottom: 1rem;
}

