.reviews {
  background: #efefef;
  padding: 2rem;
  border-radius: 5px;
  h5 {
    margin-bottom: 2rem;
  }
  .review {
    display: flex;
    flex-direction: column;
    margin: 1.5rem 0;
    .member-since {
      font-size: 11px;
      color: rgb(151, 148, 148);
    }
  }
}

.new-comment {
  background: #efefef;
  padding: 2rem;
  border-radius: 5px;
}

@media (max-width: 575.98px) { 
  .new-comment {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

