.users {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
  background: #fff;
  padding: 2rem;
  border-radius: 5px;
  .users-title {
    margin-bottom: 2rem;
  }
  .user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-bottom: 2rem;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  padding: 2rem;
  border-radius: 5px;
  background: #efefef;
  h5 {
    margin-top: 2rem;
  }

  .actions {
    margin-top: 2rem;
  }
}

