<div class="reviews">
<h5>Comments for <%= link_to @post.title, @post %></h5>
  <% @reviews.each do |review| %>
    <div class="review">
      <strong><%= link_to review.user.name, review.user %></strong>
      "<%= review.comment %>"
      <br>
      <span class="member-since"><%= time_ago_in_words(review.created_at) %> ago</span>
    </div>
  <% end %>
</div>