
<div class="container new-comment">
  <h5>New comment for <%= link_to @post.title, post_path(@post) %></h5>

  <%= bootstrap_form_with(model: [@post, @review], local: true, class: "form") do |f| %>
    <%= f.text_area :comment, rows: 10 %>
    <%= f.submit "Post Comment" %>
  <% end %>
</div>


