<!DOCTYPE html>
<html>
  <head>
    <title>Sausikebana</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/6974d2f75b.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render "partials/header" %>
      <div class="container content">
        <%= render "partials/flash" %>
        <%= yield %>
      </div>
    <%= render "partials/footer" %>
    
  </body>
</html>
